*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}

.menu::after{
    content: '';
    display: table;
    clear: both;
}

.menu ul li{
    margin: 15px 10px;
    list-style: none;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: black;
    border-radius: 50%;
    background-color: whitesmoke;
}

.number-1,
.number-2,
.number-3{
    float: left;
}
.menu{
    position: fixed;
    bottom: 90%;
    left: 80%;
    z-index: 10;
}



.page-one{
    position: relative;
    height: 100vh;
    background-color: red;
   
    
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.container h1{
    text-align: center;
    line-height: 52px;
}


.container .first{
    margin-top: 10px;
    color: yellow;
    font-size: 34px;
}
